Q1.Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’ Add ‘mango to the above list Also add banana, grapes & orange in the list insert apple in the 5th position of a variable ‘a’ Remove last item from the list

In [1]:
a = [2,3,4,5,6,7]
a.append('mango')
a.extend(['banana','grapes','orange'])
a.insert(4,'apple')
a.pop()
print(a)

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Q2. L = [1,2,3,4,5,6,7] Using the above list slice from 1:4

In [2]:
L =  [1,2,3,4,5,6,7] 
sliced_L = L[1:4]
print(sliced_L)

[2, 3, 4]

Q3.Reverse the order of given string L = [4,5,6,8,3]

In [3]:
L = [4,5,6,8,3]
L.reverse()
print(L)

[3, 8, 6, 5, 4]

Q4.Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [4]:
L = [2,4,7,3,6,8]
squared_L = [x**2 for x in L]
print(squared_L)

[4, 16, 49, 9, 36, 64]

Q5.Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [5]:
def sum_tuple(t):
    """Takes a tuple of integers and returns the sum of its elements."""
    return sum(t)
my_tuple = (2 , 5 , 7 , 10)
print(sum_tuple(my_tuple))

24

Q6.Create two sets of your favorite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [6]:
set1 = {"apple","banana","orange"}
set2 = {"mango","pineapple","kiwi"}
combined_set = set1.union(set2)
print(combined_set)

{'kiwi', 'banana', 'apple', 'orange', 'pineapple', 'mango'}

Q7.Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [7]:
my_set = {"apple","banana","cherrey"}
my_set.add("orange")
print(my_set)

{'cherrey', 'banana', 'apple', 'orange'}

Q8.Create a set of your favorite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [10]:
my_set = {"lion", "tiger", "bear", "elephant"}
my_set.remove("bear")
print(my_set)

{'lion', 'tiger', 'elephant'}

Q9.favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"] Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. Print the resulting list.m

In [12]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
book_movie_pairs = list(zip(favorite_books,favorite_movies))
print(book_movie_pairs)

[('1984', 'The Shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('To Kill a Mockingbird', 'The Dark Knight')]

Q10.Write a Python program to find the difference between consecutive numbers in a list.

In [13]:
def consecutive_difference(lst):
    diff_lst = []
    for i in range(len(lst)-1):
        diff_lst.append(abs(lst[i]-lst[i+1]))
    return diff_lst 
my_list = [3,5,2,8,1]
diff_list = consecutive_difference(my_list)
print(diff_list)

[2, 3, 6, 7]